@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Nanum+Myeongjo|Open+Sans|Petit+Formal+Script|Roboto+Slab);
* {margin:0;padding:0;box-sizing:border-box;}
body { 
	color:#4a4a4a;
	font-family: open Sans; 
}
h1 {
	font-family: libre Baskerville;
	color: #7cc9b7;
	/* background-color:#4a4a4a; */
	font-size: 65px;
}
#intro {
	background:url(../images/CoverPhoto.png);
	background-size:cover;
	background-repeat:no-repeat;
	padding: 5em 0 0;
	height: 65vh;
}


#slogan {
	padding: 8px;
	font-style: italic;
	text-align: center;
    color: #515151;
    font-size: 20px;
}

#image {
	width:100%;
}

 
#productoffering {font-size: 20px;}

#aboutme { margin-left: 90px;
	margin-right: 90px;

}

.products { 
width:33%; 
float:left;
}
	
.product-image {
	float:left;
}


ul {list-style-type: none;}

a{
	color: #7cc9b7;
	text-decoration: none;
}
